<div class="mb-4 p-8 flex items-center justify-center">
    <p-card [style]="{ width: '25rem', overflow: 'hidden' }">
        <ng-template #title> ejemplo 4 de señales  </ng-template>
        <ng-template #subtitle> señales computadas </ng-template>
        <p>
           valor del conteo: {{ contador()}}
        </p>
        <p>
            contador x 2:{{ contadorComputado()}}
        </p>
        <ng-template #footer>
            <div class="flex gap-4 mt-1">
                <p-button label="Incrementar" (click) = "incrementar()" severity="secondary" class="w-full" [outlined]="true" styleClass="w-full" />
            </div>
        </ng-template>
    </p-card>
</div>