<div class="mb-4 p-8 flex items-center justify-center">
    <p-card [style]="{  overflow: 'hidden' }">
        <ng-template #title> ejemplo 7 de señales  </ng-template>
        <ng-template #subtitle> listado de productos con señales computadas </ng-template>
        <br>
        <p-float-label>
            <input
                pInputText
                id="search"
                type="text"
                [ngModel]="searchInput()"
                (ngModelChange)="searchProduct($event)"
            >
            <label for="search">Buscar</label>
        </p-float-label>
        <div>
            <p-table [value]="filterProducts()">
                <ng-template #header>
                    <tr>
                        <th>Titulo</th>
                        <th>Categoria</th>
                        <th>Marca</th>
                        <th>Precio</th>
                        <th>Calificacion</th>
                    </tr>
                </ng-template>
                <ng-template #body let-producto>
                    <tr>
                        <td>{{producto.title}}</td>
                        <td>{{producto.category}}</td>
                        <td>{{producto.brand}}</td>
                        <td>{{producto.price}}</td>
                        <td>{{producto.rating}}</td>
                    </tr>
                </ng-template>
            </p-table>
            <p-button 
                label="Página Anterior"
                (click)="goToPrevPage()"
                severity="secondary"
                class="w-full"
                [outlined]="true"
                styleClass="w-full"
                [disabled]="currentPage() === 1"
                />
                <p-button 
                label="Página Siguiente"
                (click)="goToNextPage()"
                severity="secondary"
                class="w-full"
                [outlined]="true"
                styleClass="w-full"
                [disabled]="isNextPageNotAvailable()"
                />
        </div>
    </p-card>
</div>