<div class="mb-4 p-8 flex items-center justify-center">
    <p-card [style]="{ width: '25rem', overflow: 'hidden' }">
        <ng-template #title> ejemplo 3 de señales  </ng-template>
        <ng-template #subtitle> señales conectadas a un input </ng-template>
        <p>
           <p-floatLabel variant="in">
            <input pInputText id="in_label" autocomplete="off" #esteInput (input)="updateCampo(esteInput.value)"/>
            <label for="in_label">ingrese un texto</label>
           </p-floatLabel>
        </p>
        <p>
            datos del campo: {{ campoHtml() }}
        </p>
    </p-card>
</div>