<p>Lista de productos desde el backend:</p>

<p-table [value]="productos" responsiveLayout="scroll">
    <ng-template pTemplate="header">
        <tr>
            <th>Imagen</th>
            <th>Título</th>
            <th>Descripción</th>
            <th>Categoría</th>
            <th>Marca</th>
            <th>Precio</th>
            <th>Descuento</th>
            <th>Calificación</th>
            <th>Stock</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-producto>
        <tr>
            <td>
                <img [src]="producto.thumbnail" alt="Imagen de {{ producto.title }}" width="50" height="50">
            </td>
            <td>{{ producto.title }}</td>
            <td>{{ producto.description }}</td>
            <td>{{ producto.category }}</td>
            <td>{{ producto.brand }}</td>
            <td>{{ producto.price | currency }}</td>
            <td>{{ producto.discount }}%</td>
            <td>{{ producto.rating }}</td>
            <td>{{ producto.stock }}</td>
        </tr>
    </ng-template>
</p-table>